



.navbar {
    display: flex;
    background-color: ;
    width: 100%;
    align-items: center;

}

.logo {
    font-family: 'Piedra', cursive;
}

.nav-links {
    display: flex;
    margin: auto;
    font-family: 'Piedra', cursive;
    font-size: 40px;

}

.nav-item {
    padding: 0px;
    margin-right: 50px;
    list-style: none;
}

.nav-item a:hover {
    text-decoration: none;
    color: black;
}
