html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}


body {
    background-image: url('../images/piano.jpg');
    background-repeat: no-repeat;
}


.bandPictureWrapper {
    text-align: center;
    margin-top: 2%;
}

.bandPicture {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    border-radius: 100%;
}






.musicLinks {
    position: absolute;
    display: flex;
    width: fit-content;
    opacity: 70%;
    float: left;
    top: 60%;
    left: 40%;


}

.musicPath {
    border-style: double;
    border-color: #74c8ff;
    padding: 10px;
    border-width: 10px;
    margin-right: 20px;
    background-color: #371600;
    font-family: 'Notable', sans-serif;
    box-shadow: 0px 3px black;
    border-radius: 30%;
    opacity: 100%;

}





.newAlbumBanner {
    float: left;
    position: absolute;
    top: 75%;
    background-color: #daf0ff;
    opacity: 60%;
    box-shadow: 3px 5px black;

}


.newAlbumDescription {
    font-family: 'Notable', sans-serif;
    padding: 20px;
    margin: auto;
    color: #74c8ff;
    opacity: 100%;
}


.playButton{
    width: 70px;
    height: 50px;
    background-color: #74c8ff;
    border-radius: 20%;
}
