<div class="bandPictureWrapper">
    <img class="bandPicture" src="../images/bandPicture.jpg" alt="Band Picture">
</div>




<div class="musicLinks">
    <div class="musicPath">
        <h5><a href="#">Itunes</a></h5>
    </div>
    <div class="musicPath">
        <h5><a href="#">Spotify</a></h5>
    </div>
    <div class="musicPath">
        <h5><a href="#">Youtube</a></h5>

    </div>
</div>





<div class="newAlbumBanner">
    <div class="newAlbumDescription">
        <h1><a href="#">New Album: The Way <img class="playButton" src="../images/playbutton.svg" alt="Play Button">
        In Stores Now</a></h1>
    </div>

</div>
